<template>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <router-link class="navbar-brand" to="/">E-commerce Test</router-link>
      </div>
      <div class="navbar-header navbar-brand"  v-if="isLoggedIn">
        Hi, {{name}}
      </div>
      <ul class="nav navbar-nav">
        
        <router-link
          v-if="!isLoggedIn"
          class="nav-item nav-link"
          :to="{ name: 'Login' }"
        >
          Login
        </router-link>
        <router-link
          v-if="!isLoggedIn"
          class="nav-item nav-link"
          :to="{ name: 'Register' }"
        >
          Register
        </router-link>
        <router-link
          v-if="isLoggedIn"
          class="nav-item nav-link"
          :to="{ name: 'Dashboard' }"
        >
          Dashboard
        </router-link>
        <a
          class="nav-item nav-link"
          v-if="isLoggedIn"
          @click.prevent="logout"
          href="#"
          >Logout</a
        >
      </ul>
    </div>
  </nav>
</template>

<script>
import User from "../apis/User";

export default {
  data() {
    return {
      isLoggedIn: false,
      name: null
    };
  },

  mounted() {
    this.$root.$on("login", () => {      
      this.isLoggedIn = true;      
    });    
    this.isLoggedIn = !!localStorage.getItem("auth");
    this.$root.$on("user", getResponse => {
      this.name = getResponse.name;      
    }); 
  },

  methods: {
    logout() {
      User.logout().then(() => {
        localStorage.removeItem("auth");
        localStorage.removeItem("user");
        this.isLoggedIn = false;        
        this.$router.push({ name: "Home" });
      }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
        });;
    }
  }
};
</script>

<style>
.router-link-exact-active {
  color: #ffffff !important;
  transition: all 0.25s;
}
</style>
