<template>
  <div>
    <PageHeader />

    <div class="container">
      <Coupons />

      <div class="row mt-4">
        <div class="col-sm-9">
          <ProductList />
        </div>

        <div class="col-sm-3">
          <ShoppingCart />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from "../components/shared/PageHeader";
import Coupons from "../components/shop/Coupons";
import ProductList from "../components/shop/products/ProductList";
import ShoppingCart from "../components/shop/shopping-cart/ShoppingCart";

export default {
  name: "Home",
  components: {
    PageHeader,
    Coupons,
    ProductList,
    ShoppingCart
  }
};
</script>
